/* IMPORTING FONT */
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@700&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

/* ----------------------------- */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.nav_bar {
    background-color: #070029;
    height: 55px;
    color: white;
}

.logo {
    display: flex;
    height: 50px;
    color: #7932bb;
    font-family: 'Caveat', cursive;
    align-items: center;
    justify-content: space-around;
}

.logo a {
    font-size: 1.1rem;
    color: #7932bb;
    text-decoration: none;
}

.logo a:hover {
    color: #9957d6;
}

.main_ {
    background-color: #070029;
    color: white;
    margin: 25px auto;
    width: 91.5%;
    border-radius: 18px;
    padding: 2.5%;
}

.main_ h2 {
    color: #7932bb;
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
}

.main_ h2:hover {
    color: #9957d6;
}

.main_ img {
    height: 25rem;
    border-radius: 18px;
}

.main_ a {
    text-decoration: none;
    color: #7932bb;
}

.main_ p {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.1rem;
    color: #c4abdb;
    padding-top: .5rem;
}
.main_ p:hover {
    color: #d6cbe0;
}

.main_ i:hover {
    color: #9957d6;
}

.icons_ {
    color: #7932bb;
}

.icons_:hover {
    color: #9957d6;
}

/* FOTTER__CONTENT */

footer {
    margin-top: auto;
    background-color: #070029;
    color: #7932bb;
    padding: 7px;
}

footer h3 {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: space-around;
}

footer h3:hover {
    color: #9957d6;
}
